<div id="admin-chat">
    <div class="admin-chat-btn-wrapper">
        <p>There are {{this.queueSize || 0}} people waiting to chat.</p>
        <button class="btn" *ngIf="!chatInitiated" (click)="handleChatRequest()">Chat</button>
    </div>

    <div *ngIf="chatInitiated && !haveUsername">
        <form method="">
            <input placeholder="What is your name?" type="text" id="chat-username" autocomplete="off" autofocus/>
            <div class="admin-chat-btn-wrapper">
                <button class="btn admin-chat-btn" (click)="handleAdminAccept()">Send</button>
            </div>
        </form>
    </div>
    
    <div *ngIf="roomAvailable && haveUsername">
    <!-- <ul id="chat-messages">Hello {{this.adminName | titlecase}}, you are chatting with {{this.username | titlecase}}.</ul> -->
        <ul id="chat-messages-admin">You are connected. Start chat.</ul>
        <form method="">
            <input type="text" id="chat-input" autocomplete="off" autofocus/>
            <div class="admin-chat-btn-wrapper">
                <button class="btn admin-chat-btn" (click)="handleSendMessage()">Send</button>
                <button class="btn admin-chat-btn chat-btn-secondary" (click)="handleEndChat()">End Chat</button>
            </div>
        </form>
    </div>
    
    <br>
    <br>
    <br>

    <!-- <div *ngIf="chatEnded && !chatInitiated">
    <p id="chatEnded">Thank you!</p>
    </div> -->
</div>