<div id="main">
  <span class="nav">
    <a href="#"><span id="nav-button">Home</span></a>
    <a href="#about-section"><span id="nav-button">About</span></a>
    <a routerLink="/dashboard" routerLinkActive="active"><span id="nav-button">login</span></a>
    <a href="#"><span id="nav-button">Signup</span></a>
  </span>
    <h1>
      LEGATUM
    </h1>
  <h2>Decentralized legal documents of the future</h2>

  <h3>What is Legatum.io?</h3>
  <p> 
  Legatum.io uses cutting-edge blockchain technology to allow
  users a simple way to upload decentralized legal documents and 
  intellectual property.
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a href="#"><span id="get-started">Get Started</span></a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="about-section">
    <h3>About</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend tempor tortor et ornare. Sed in facilisis purus, quis convallis lacus. Aenean eget purus eget est tincidunt dapibus. Duis pretium gravida blandit. Sed tincidunt sit amet libero in molestie. Cras vel ipsum elementum, vehicula elit et, vestibulum ante. Nam laoreet scelerisque ullamcorper. Fusce vel dolor ut leo posuere luctus. Curabitur posuere odio id est malesuada aliquet.
        <br>
        <br>
        Integer finibus est id lacus fermentum, at lobortis diam malesuada. Nam ac nisi nec felis tempus pharetra. Aliquam quis ante rhoncus, dignissim arcu at, tempus elit. Ut id convallis nibh. Vestibulum in magna ipsum. Phasellus eu turpis sed mi eleifend rhoncus. Nullam sagittis bibendum fringilla. Aenean vehicula nisl ac congue volutpat.
    </p>
  </div> 
</div>
