#main {
    position: absolute;
    width: 100;
    height: 100%;
    top: 30px;
    text-align: center;
}

h1 {
    margin-top: -3px;
    font-family: "Ancient Roman", "Times New Roman";
    /* color: #830083; */
    color: #FE28A8;
    font-size: 30px;
    float: left;
}

h2 {
    color: grey;
    text-align: center;
    clear: both;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}

h3 {
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.nav {
    float: right;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#nav-button {
    color: white;
    margin: 10px;
}

#nav-button:hover {
    color: #FE28A8;
    cursor: pointer; cursor: hand;
}

#button-container {
    perspective: 700;
}

#get-started {
    position: relative;
    color: white;
    font-size: 20px;
    margin: auto;
    width: 100px;
    height: 35px;
    border-radius: 10%;
    padding: 5;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif; 
    transition: all 0.6s linear;
    transform-style: preserve-3d;
}

#get-started:hover {
    cursor: pointer; cursor: hand;
    transform: rotateX(180deg);
}

#front, #back {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 20px;
    margin: auto;
    width: 100px;
    border: .5px solid white;
    border-radius: 10%;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif; 
    backface-visibility: hidden;
}

#front:hover {
    color: #FE28A8;
    border-color: #FE28A8;
    background: rgba(0, 0, 0, 0.20);
}

#back {
    color: #FE28A8;
    border-color: #FE28A8;
    background: rgba(0, 0, 0, 0.20);
    transform: rotateX(180deg);
    left: 0;
}
