#main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30px;
    text-align: center;
}

h1 {
    margin-top: -3px;
    font-family: "Ancient Roman", "Times New Roman";
    /* color: #830083; */
    color: #FE28A8;
    font-size: 30px;
    float: left;
}

h2 {
    color: grey;
    text-align: center;
    clear: both;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}

h3 {
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#main-pitch {
    margin: auto;
    width: 230px;
}

.nav {
    position: absolute;
    right: 0;
    
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#menu-container {
    
    
}

ul {
    position: absolute;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    width: 100px;
    height: 30px;
    /* background-color: black; */
    /* opacity: .3; */
    line-height: 30px;
    text-align: center;
}

ul li a {
    display: block;
}
/* ul.drop-menu {

} */

ul li a:hover {
    background-color: rgba(219, 112, 147, 0.65);
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    opacity: 0;
    animation-name: menu;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
     /* ease-in-out forwards; */
}
/* li:hover > ul.drop-menu li {
    display: block;
} */
@keyFrames menu {
    from {opacity: 0;}
    to {opacity: 1;}
}



#nav-button {
    color: white;
    margin: 10px;
}

#nav-button:hover {
    color: #FE28A8;
    cursor: pointer; cursor: hand;
}
#button-table {
    display: table;
    position: absolute;
    height: 100%; 
    width: 100%;
}
#button-container {
    perspective: 700;
    display: table-cell;
    vertical-align: middle;
}

#get-started {
    
    color: white;
    font-size: 20px;
    margin: auto;
    width: 100px;
    height: 35px;
    border-radius: 10%;
    padding: 5;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif; 
    transition: all .6s ease-in-out;
    transform-style: preserve-3d;
}

#get-started:hover {
    cursor: pointer; cursor: hand;
    transform: rotateX(180deg);
}

#front, #back {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 20px;
    margin: auto;
    width: 100px;
    border: .5px solid white;
    border-radius: 10%;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif; 
    backface-visibility: hidden;
}

#front:hover {
    color: #FE28A8;
    border-color: #FE28A8;
    background: rgba(0, 0, 0, 0.20);
}

#back {
    color: #FE28A8;
    border-color: #FE28A8;
    background: rgba(0, 0, 0, 0.20);
    transform: rotateX(180deg);
    left: 0;
}
