@import 'https://fonts.googleapis.com/css?family=Lato:700,400|Julius+Sans+One:400';
@import "~fullpage.js/dist/jquery.fullpage.css";

html {
    height: 100%;
}

h3 {
    font-family: "Julius Sans One", sans-serif !important;
    text-transform: uppercase;
    text-align: center;
    color: #FCFCFC; 
}
body {
    width: 100%;
}

.page-footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    color: #fff;
    background-color: #390C65;
    opacity: .6;
}
.footer-logo-one {
    padding-right: 14px;
}

.footer-logo-two {
    margin-left: -3%;
    padding-right: 2%;
    vertical-align: -10px;
}

.powered-by-li {
    padding-bottom: 3%;
}

.contact-section {
    margin-left: 54%;
}

.email-icon {
    padding-right: 1%;
    vertical-align: -25%;
}

.section-one {
    /* background-color: rgb(249, 249, 249); */
    opacity: 1;
}

.section-two {
    opacity: .6;
    z-index: auto;
    /* background-color: rgb(71, 36, 79); */
}

.about-header {
    color: #501E83;
    text-align: center;
}

.homeintro {
    /* left: 50%; */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #B9B9B9;
    text-align: center;
    clear: both;
    font-size: 30px;
}


.homelogodiv{
    text-align: center;
}
.homelogo{
    width: 30vw;
    height: 54vh;
    align-items: center;
    opacity: .8;
}

.ethlogo{
    height: 200px;
    align-items: center;
}
.ethlogodiv{
    text-align: center;
}

.main-pitch  {
    margin: 50px;
    text-align: center;
}

.about-section p {
    margin: 50px;
    text-align: center;
}

.nav {
    width: 100%;
    left: 70%;
    top: 5%;
    text-transform: uppercase;
}




ul[class="nav"] {
    position: absolute;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul[class="nav"] li {
    float: left;
    width: 100px;
    height: 30px;
    /* background-color: black; */
    /* opacity: .3; */
    line-height: 30px;
    text-align: center;
}

ul[class="nav"] li a {
    display: block;
    /* background-color: rgba(0, 0, 0, 0.41); */
}
/* ul.drop-menu {

} */

ul li a:hover {
    background-color: rgba(219, 112, 147, 0.65);
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    opacity: 0;
    animation-name: menu;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
     /* ease-in-out forwards; */
}
/* li:hover > ul.drop-menu li {
    display: block;
} */
@keyFrames menu {
    from {opacity: 0;}
    to {opacity: 1;}
}


#nav-button {
    color: white;
    margin: 0px;
    margin-bottom: 30px;
}

#nav-button:hover {
    /* color: #FE28A8; */
    cursor: pointer; cursor: hand;
}

.get-started {
    color: white;
    font-size: 13px;
    margin: auto;
    width: 100px;
    border-radius: 10%;
    padding: 5;
    text-transform: uppercase;
    font-family: "Julius Sans One", sans-serif; 
    transition: all .6s ease-in-out;
    transform-style: preserve-3d;
}

.get-started:hover {
    cursor: pointer; cursor: hand;
    transform: rotateX(180deg);
}

.front, .back {
    top: 0;
    left: 0;
    color: white;
    font-size: 13px;
    margin: auto;
    width: 100px;
    border: .5px solid white;
    border-radius: 10%;
    padding: 5px;
    text-transform: uppercase;
    font-family: "Julius Sans One", sans-serif;
    backface-visibility: hidden;
}

.front:hover {
    color: #FE28A8;
    border-color: #FE28A8;
    background: rgba(0, 0, 0, 0.20);
}

.back {
    color: #FE28A8;
    border-color: #FE28A8;
    background: rgba(0, 0, 0, 0.20);
    transform: rotateX(180deg);
    left: 0;
}

/*
  ====================================
  Chat Feature
  ====================================
*/

/* #chat-btn-user { */
#menu {
    position: fixed;
    bottom: 0;
    right: 0;
}

div.tap-target-wave::before {
    display: none;
}

#hide {
    display: none;
}

#chat-input {
    display: inline-block;
    left: 0;
}

#end-chat-btn {
    display: inline-block;
    right: 0;
}
.whoweare {
    text-align: center;
}

.card[_ngcontent-c1] {
    margin: auto;
    width: 15%;
    opacity: 0.7;
    border-radius: 20px;
    border-width: thick;
    background-color: #5d4674;
}

.card-content {
    text-align: center;
    color: #000000;
}

.card-title {
    color: #000000 !important;
}

.header-name {
    margin: auto;
    text-align: center;
    color: #FFFFFF;
    padding: auto;
}

.card .card-image img {
    display: block;
    border-radius: 15px;
    position: relative;
    margin: auto;
    width: 70%;
}

.link-text1[_ngcontent-c1][_ngcontent-c1] {
    position: absolute;
    left: 20px;
    bottom: 4px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin: auto;
}
.link-text2[_ngcontent-c1][_ngcontent-c1] {
    position: absolute;
    left: 81px;
    bottom: 4px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    margin: auto;
}


.card-reveal-text {
    color: black;
}

.profile-grid {
    display: flex;
}

.about-me-header {
    text-align: center;
}

.card .card-action:last-child {
    border-radius: 0 0 50px 50px;
}