<div [mnFullpage]="options" [mnFullpageNavigation]="true">
  <div class="fp-section fp-table">
    <h1>
      LEGATUM
    </h1>
    <div class="menu">
      <ul class="nav">

        <!-- Load a conditional dashboard button -->
        <li><a *ngIf="this.isLoggedIn" routerLink="/dashboard"><span id="nav-button">Dashboard</span></a>
          <!--     <li><a *ngIf="this.isLoggedIn" [routerLink]="['/dashboard', urlParam]"><span id="nav-button">Dashboard</span></a>       -->
          <li><a *ngIf="!this.isLoggedIn" (click)="handleLogin()"><span id="nav-button">login</span></a>
            <li><a *ngIf="!this.isLoggedIn" (click)="handleRegister()"><span id="nav-button">Signup</span></a>
              <li><a>Menu</a>
                <ul class="drop-menu">
                  <li><a a href="#section-two">Ethereum</a></li>
                  <li><a a href="#">Our Team</a></li>
                  <li><a a href="#section-three">Contact</a></li>
                </ul>
              </li>
      </ul>
    </div>
    <div class="fp-tableCell section-one">
      <div class="homelogodiv">
        <img class="homelogo" src="../../assets/legatumwhite.png">
      </div>
      <h2 class="homeintro">Welcome to Legatum, a revolutionary service with a mission to ensure your legacy stays clear of the wrong hands through the utilization of Ethereum Smart-Contracts.</h2>
    </div>
  </div>

  <div class="fp-section fp-table">
    <div class="fp-tableCell section-two">
      <div class="ethlogodiv">
        <img class="ethlogo" src="../../assets/ETHEREUM-ICON_Black.png">
      </div>
      <h3>What Are Smart Contracts?</h3>
      <div class="about-section">
        <p>
          Uploading, securing and stamping your most precious legal-documents to the Ethereum Network.
        </p>
      </div>
      <p class="main-pitch">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend tempor tortor et ornare. Sed in facilisis purus,
        quis convallis lacus. Aenean eget purus eget est tincidunt dapibus. Duis pretium gravida blandit. Sed tincidunt sit
        amet libero in molestie. Cras vel ipsum elementum, vehicula elit et, vestibulum ante. Nam laoreet scelerisque ullamcorper.
        Fusce vel dolor ut leo posuere luctus. Curabitur posuere odio id est malesuada aliquet.
        <br>
        <br> Integer finibus est id lacus fermentum, at lobortis diam malesuada. Nam ac nisi nec felis tempus pharetra. Aliquam
        quis ante rhoncus, dignissim arcu at, tempus elit. Ut id convallis nibh. Vestibulum in magna ipsum. Phasellus eu
        turpis sed mi eleifend rhoncus. Nullam sagittis bibendum fringilla. Aenean vehicula nisl ac congue volutpat.
      </p>
    </div>
  </div>

  <div class="fp-section fp-table section-three">
    <div class="fp-tableCell">
      <div class="get-started" (click)="handleLogin()">
        <div class="front">
          Get Started
        </div>
        <div class="back">
          Get Started
        </div>
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">NOTICE</h5>
              <p class="grey-text text-lighten-4">Legatum is currently still in its Alpha phase, many updates and tweaks are expected to come!</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Powered By:</h5>
              <ul>
                <li class="powered-by-li"><img class="footer-logo-one" src="../../assets/rsz_ethereum-icon_black.png"><a class="grey-text text-lighten-3"
                    href="https://ethereum.org/">Ethereum</a></li>
                <li class="powered-by-li"><img class="footer-logo-one" src="../../assets/metamask.png"><a class="grey-text text-lighten-3" href="https://metamask.io/">Metamask</a></li>
                <li><img class="footer-logo-one" src="../../assets/rsz_angularicon.png"><a class="grey-text text-lighten-3" href="https://angular.io/">Angular 4</a></li>
                <li><img class="footer-logo-two" src="../../assets/rsz_1aws.png"><a class="grey-text text-lighten-3" href="https://aws.amazon.com/">Amazon Web Services</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2017 Legatum.io
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            <a class="grey-text text-lighten-4 contact-section" href="mailto:support@legatum.io" target="_top"><i class="material-icons email-icon">email</i>Contact Us</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>