<md-sidenav-container class="example-container" *ngIf="dashboardService.userInfo.admin">

    <md-sidenav mode="open" opened="false" #sidenav class="example-sidenav">
        <button class="navlink" md-raised-button color="primary" routerLink="/dashboard/admin/pending">Pending</button>
        <br>
        <br>
        <button class="navlink" md-raised-button color="primary">Chat</button>
        <br>
        <br>
    </md-sidenav>


    <div class="my-content">
        <button md-mini-fab color="primary" (click)="sidenav.open()" class="nav-fab">
            <md-icon class="nav-icon">dehaze</md-icon>
        </button>
        <router-outlet> </router-outlet>
    </div>

    <div id="admin-chat">
        <p>There are {{this.queueSize || 0}} people waiting to chat.</p>
        <button *ngIf="!chatInitiated" id="admin-chat-btn" (click)="handleChatRequest()">Chat</button>

        <div *ngIf="chatInitiated && !haveUsername">
            <form method="">
                <input placeholder="What is your name?" type="text" id="chat-username" autocomplete="off" autofocus/><button (click)="handleAdminAccept()">Send</button>
            </form>
        </div>
        
        <div *ngIf="roomAvailable && haveUsername">
        <!-- <ul id="chat-messages">Hello {{this.adminName | titlecase}}, you are chatting with {{this.username | titlecase}}.</ul> -->
            <ul id="chat-messages-admin">You are connected. Start chat.</ul>
            <form method="">
                <input type="text" id="chat-input" autocomplete="off" autofocus/><button (click)="handleSendMessage()">Send</button>
            </form>
            <button (click)="handleEndChat()">End Chat</button>
        </div>
        
        <div *ngIf="chatEnded && !chatInitiated">
        <p id="chatEnded">Thank you!</p>
        </div>
    </div>
    
</md-sidenav-container>

<!-- <div id="admin-chat">
    <button id="admin-chat-btn" (click)="handleAdminAccept()">Chat</button>
</div> -->

