.create-button {
    display: block;
    text-align: center;
    margin-left: 45%;
    display: inline;
    border-radius: 5px;
    font-weight: 350;
    font-size: 12px;
    background: #6BDEB7;
    color: white;
}

.create-button:hover {
    border-color: #1D001D;
    color: #1C001C;
}
.my-contracts-header {
    text-align: center;
    color: aquamarine;
  }