<div>
  <h2>Please review details carefully before submitting</h2>
  Contract Nickname: {{ this.newContract.contractNickname }}<br>
  Contract ID: {{ this.newContract.contractId }}<br>
  Created On: {{ this.newContract.createdAt}}<br>
  Contract Text: {{ this.newContract.willText }}<br>
  Attached File: {{ this.newContract.fileName }}<br>
  Beneficiary address(es): {{ this.newContract.beneficiaries }}
</div>


<!-- contractNickname: 'default',
contractId: 781432098374,
createdAt: 'default',
willText: 'default',
fileName: 'default',
beneficiaries: ['1212dddddd3', '1123213123'] -->
