<div id="review-contract">
  <h2>Please review details carefully before submitting</h2>
  Contract Nickname: {{ this.newContract.contractNickname }}<br>
  Contract ID: {{ this.newContract.contractId }}<br>
  Created On: {{ this.newContract.createdAt}}<br>
  Contract Text: {{ this.newContract.willText }}<br>
  Attached File: {{ this.newContract.fileName }}<br>
  Beneficiary address(es): {{ this.newContract.beneficiaries }}
</div>

<a><div id="submit-button" (click)="handleClickOnFinalize()">Finalize and Submit</div></a>
<a routerLink="/dashboard" routerLinkActive="active"><div id="cancel-button">Delete Contract</div></a>


<!-- contractNickname: 'default',
contractId: 781432098374,
createdAt: 'default',
willText: 'default',
fileName: 'default',
beneficiaries: ['1212dddddd3', '1123213123'] -->
