@font-face {
    font-family: "Ancient Roman";
    src: url(geek.ttf) format("truetype");
}

html,body {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
    /* background-image: url("background.jpg"); */
    background: url("background.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    /* text-align: center; */
}

#glass {
    overflow-y: scroll;
    flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    padding-bottom: 30px;
    background: rgba(0, 0, 0, 0.70);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*
  ====================================
  Login Modal Styles
  ====================================
*/

.login-popup {
    background-color: rgba(0,0,0,0.74);
    letter-spacing: 1.5em;
    height: 80%;
}

#swal2-title {
    color: white;
}

#email {
    margin-top: 25%;
}

#password {
    margin-bottom: 15%;
}

#email, #password {
    width: 80%;
    /* background-color: rgba(0,0,0,0.5); */
    border: none;
    border-bottom: 2px solid #830083;
    text-align: center;
    color: white;
    background-color: transparent;
    border-radius: 0;
}

#email:focus, #password:focus {
    box-shadow: none;
    border-bottom: 3px solid #830083;
}

.confirm-btn, .register-btn {
    outline: none;
    /* box-shadow: none; */
}

.register-btn:active {
}
