@font-face {
    font-family: "Ancient Roman";
    src: url(geek.ttf) format("truetype");
}

body {
    height: 100%;
    background-color: black;
    /* background-image: url("background.jpg"); */
    
    background: url("background.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
}

#glass {
    background: rgba(0, 0, 0, 0.70);
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}