@font-face {
    font-family: "Ancient Roman";
    src: url(geek.ttf) format("truetype");
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}