<div id="contract-preview">
  <table class="responsive-table">
    <tr>
      <th>Contract Nickname</th>
      <th>Contract ID</th>
      <th>Date Submitted</th>
    </tr>
    <tr>
      <td>{{pendingContract.contract_nickname}}</td>
      <td>{{pendingContract.contract_id}}</td>
      <td>{{pendingContract.createdAt}}</td>
    </tr>
  </table>
  <a [routerLink]="['/dashboard/admin/deploy', pendingContract.contract_id]" routerLinkActive="active">
    <div id="create-button" (click)="handleCreateFormClick()">
      Deploy Contract
    </div>
  </a>
</div>