<div id="create-form">
<h3>Create Will</h3>
<form action="">
  Please choose a nickname for your contract<br>
  <input type="text" [(ngModel)]="newContract.contract_nickname" name="nickName"/><br> 
  <!-- insert drive file.png -->
  Last Will and Testament Text<br> 
  <textarea [(ngModel)]="newContract.will_text" name="willText"></textarea><br>
  <!-- insert comment.png -->
  <br>
  Upload Text Document (optional)<br>
  <input type="file" accept="text/*"><br>
  <br>
  Additional Beneficiary Address (optional)<br>

  <input type="text" [(ngModel)]="newContract.beneficiary" name="benificiary"/><br>
  <!-- group add.png -->
  <button>Add another beneficiary</button>
</form>
</div>
<a><div id="submit-button" (click)="handleClickOnReview()">Review Details</div></a>
<a routerLink="/dashboard" routerLinkActive="active"><div id="cancel-button">Cancel</div></a>
<!-- done all.png -->

<!-- <div>
  <button (click)=this.deployWill()>Test Contract </button>
</div>

<div>
  <button (click)=this.setWillData()>Set Will Data</button>
</div>

<div>
  <button (click)=this.getWillText()> Get Will Text </button>
</div>
 -->

 <div class="row">
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2">Form with icon prefixes</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-action-account-circle prefix"></i>
              <input id="name3" type="text">
              <label for="first_name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-communication-email prefix"></i>
              <input id="email3" type="email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-action-lock-outline prefix"></i>
              <input id="password3" type="password">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-action-question-answer prefix"></i>
              <textarea id="message3" class="materialize-textarea"></textarea>
              <label for="message">Message</label>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                  <i class="mdi-content-send right"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
