#chat-messages {
  list-style-type: none;
}

#chat-messages li {
  padding: 5px 10px;
}

#chat-btn-user {
  position: fixed;
  bottom: 0;
  right: 0;
}

#chat-messages {
  list-style: none;
  max-height: 160px;
  margin: 0;
  overflow: auto;
  padding: 0;
  text-indent: 10px;
  overflow-y: auto;
  text-align: right;
}

#chat-messages::-webkit-scrollbar { 
  display: none; 
}

#chat-popout {
  background-color: #390C65;
}

#user-chat-title {
  text-align: right;
}

.chat-btn-wrapper {
  text-align: center;
}

.chat-btn {
  display: inline-block;
  margin: 5px;
}

.chat-btn-secondary {
  background-color: #b8b8b8;
}