<!-- <h3>Chat</h3> -->

<!-- (click)="handleChat()" -->

<div class="tap-target" id="chat-popout" data-activates="menu">
    <div class="tap-target-content">
      <h5 id="user-chat-title">Chat</h5>

      <div class="chat-btn-wrapper">
        <button class="btn chat-btn" *ngIf="!chatInitiated" (click)="handleChat()" >Chat</button>
      </div>
      <!-- <a class="waves-effect waves-light btn red" id="chat-btn-user" *ngIf="!chatInitiated"  (click)="openChat()">Chat</a> -->
      
      <div *ngIf="chatInitiated && !haveUsername">
        <form method="">
          <input placeholder="What is your name?" type="text" id="chat-username" autocomplete="off" autofocus/>
          <div class="chat-btn-wrapper">
            <button class="btn chat-btn"(click)="handleChatRequest()">Send</button>
          </div>
        </form>
      </div>
      
      <div *ngIf="!roomAvailable && haveUsername">
        <p id="chat-wait-msg">Thank you {{this.username | titlecase}} for your patience. We will be with you shortly.</p>
      </div>
      
      <div *ngIf="roomAvailable && haveAdminName">

        <ul id="chat-messages">Hi {{this.username | titlecase}}, my name is {{this.adminName | titlecase}}. How may I help you? </ul>

            <form method="">
              <input type="text" id="chat-input" autocomplete="off" autofocus/>
              <div class="chat-btn-wrapper">
                <button class="btn chat-btn" (click)="handleSendMessage()">Send</button>
                <button class="btn chat-btn chat-btn-secondary" (click)="handleEndChat()">End Chat</button>
              </div>
            </form>
            

      </div>
      
      <div id="end-chat-btn" *ngIf="chatEnded && !chatInitiated">
        <p id="chatEnded">Thank you!</p>
      </div>

  </div>
</div>

