<div class="contract-submit-admin">
  <div class="input-field col s12">
    <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="newContract.will_text" name="willText"></textarea>
    <label for="textarea1">Last Will And Testament Text</label>
  </div>
  <div class="input-field col s12">
    <input id="beneficiaryinfo" class="add-benefic" type="text" [(ngModel)]="newContract.beneficiary" name="benificiary">
    <label for="beneficiaryinfo">Add Aditional Beneficiary</label>
  </div>
  <div class="buttonz">
    <button md-raised-button class="create-button" (click)=this.deployWill()>Deploy Contract</button>

    <button md-raised-button class="create-button" (click)=this.setWillData()>Set Will Data</button>

    <button md-raised-button class="create-button" (click)=this.getWillText()>Get Will Text</button>
  </div>
</div>
