#create-form{
  background: white;
  width: 80%;
  margin-top: 20%;
}

.contract-submit-admin {
  background: white;
  margin: auto;
  border-radius: 15px;
  /* color: white; */
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  opacity: .7;
}

.buttonz {
  margin:auto;
}

.create-button {
  background-color: aquamarine;
  margin-left: 17%;
  margin-bottom: 1%;
}

