.left-align {
    color: white;
}

body {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #381159, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #000000, #381059);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
};

#pic-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}

#mid-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    height: 30px;
    background:  #000000;
    z-index: 2;
    opacity: .8
}

.nav-extended {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #381159, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #381059, #000000) !important;
    /* margin-bottom: 2.5%; */
}

.nav-content {
    border-bottom: 1px;
    border-bottom-style: ridge;
    border-bottom-color: aquamarine;
}

.particles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


#main-content {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
}

#dash-greeting {
    margin-left: 40px;
    margin-top: 40px;
    font-weight: 300;
}

/* Buttons */

#account-icon {
    display: inline;
    position: absolute;
    left: 10px;
    top: 10px;
    /* z-index: 1; */
}

#dash-signout {
    display: inline;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    font-size: 12px;
    color: white;
}

#dash-signout:hover {
    border-color: #830083;
    color: #830083;
}

/* .nav-list {
    top: 10;
} */

.nav-list,li {
    margin-right: 33px;
    margin-left: 33px;
}

.mid-nav-button {
    position: absolute;
    top: 0px;
    margin-right: 33px;
    color: white;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 12px;
}

.mid-nav-button:hover {
    text-decoration: none;
}

.active {
    top: -2px;
    color: white;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 15px;
    text-shadow: 2px 2px #504D4D;
}

#my-contracts-button {
    margin-left: 10px;
    margin-top: 7px;
}

#nav-create-contracts-button {
    margin-left: 150px;
    margin-top: 7px;
}

/* MOVE LATER!! */
.dash-signout2 {
    /* display: inline; */
    position: absolute;
    width:100px;
    right: 100px;
    top: 10px;
    /* padding: 5px; */
    font-size: 12px;
    color: white;
    
    transition: all .6s ease-in-out;
    transform-style: preserve-3d;
}

.dash-signout2:hover {
    cursor: pointer; cursor: hand;
    transform: rotateX(180deg);
}

.front, .back {
    position: absolute;
    right: 100px;
    top: 10px;
    width:100px;
    /* padding: 5px; */
    font-size: 12px;
    color: white;
    backface-visibility: hidden;
}

.front:hover {
    color: #FE28A8;
}

.back {

    color: #FE28A8;
    border-color: #FE28A8;
    background: rgba(0, 0, 0, 0.20);
    transform: rotateX(180deg);
}
