#contract-preview {
    margin: 10px;
    padding: 5px;
    background-color: #fdfcff;
    box-shadow: 2px 2px 5px #888888;
    border-top: 4px solid gray;
    font-size: 11px;
}

table { 
    margin: 10px;
    width: 300px;
}

td {
    text-align: center;
}

.link {
    color: blue;
}

.link:hover {
    text-decoration: underline;
}

#etherscan-link {
    margin-left: 10px;
}

#details-link {
    margin-left: 29px;
    margin-right: 10px;
}