<div id="contract-preview">
    <table>
      <tr>
        <th>Contract Nickname</th>
        <th>Contract ID</th> 
        <th>Date Created</th>
      </tr>
      <tr>
        <td>{{contract.contract_nickname}}</td>
        <td>{{contract.contract_id}}</td>
        <td>{{contract.createdAt}}</td>
      </tr>
    </table>
    <a [routerLink]="['/dashboard/contract-details', contract.contract_nickname]" routerLinkActive="active" class="link" id="details-link" >Contract details</a> |
    <a class="link" id="etherscan-link" href="https://etherscan.io/tx/{{contract.hash}}">View on Etherscan</a>
</div>
